<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/global.css">
  {{#if style}}
    {{#each style}}
      <link rel="stylesheet" href="/static/css/{{this}}.css">
    {{/each}}
  {{/if}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  {{> navbar}}

  <main class="main-content">
    {{{body}}}
  </main>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {{{scripts}}}
</body>
</html>